[Unit]
Description=MineCode Discord Bot
After=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=%INSTALL_PATH%
ExecStart=/bin/bash %INSTALL_PATH%/start.sh
EnvironmentFile=%INSTALL_PATH%/.env
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
